<!-- Modal -->
<div class="modal fade" {% block modal-id %} id="addModal" {% endblock modal-id %} tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="addModalLabel">
                {% block modal-title %} <i class="fas fa-plus"></i>&nbsp;&nbsp; Add Employee {% endblock modal-title %}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="POST" {% block action %} action="/add_employee" {% endblock action %} autocomplete="off">
            {% csrf_token %}
            <div class="modal-body">
    
                <!-- ======== Block Id (Root) ======== -->
                {% block Value-id %}{% endblock Value-id %}
    
                <div class = "input-group mb-3">
                    <span class="btn border-secondary bg-light side-label"><i class="fa fa-user-alt"></i></span>
                    <input type="text" class="form-control" name="name" maxlength="40" placeholder="Full name" required {% block Value-name %}{% endblock Value-name %}>
                </div>
    
                <div class = "input-group mb-3">
                    <span class="btn border-secondary bg-light side-label"><i class="fa fa-envelope"></i></span>
                    <input type="email" class="form-control" name="email" maxlength="40" placeholder="Email" required {% block Value-email %}{% endblock Value-email %}>
                </div>
    
                <div class = "input-group mb-3">
                    <span class="btn border-secondary bg-light side-label side-label"><i class="fa fa-user-cog"></i></span>
                    <input type="text" class="form-control" name="occupation" maxlength="40" placeholder="Occupation" required {% block Value-occupation %}{% endblock Value-occupation %}>
                </div>
    
                <div class = "input-group mb-3">
                    <span class="btn border-secondary bg-light side-label"><i class="fa fa-hand-holding-usd"></i></span>
                    <input type="text" class="form-control" name="salary" maxlength="10" placeholder="Salary" required {% block Value-salary %}{% endblock Value-salary %}>
                </div>
    
                <div class = "input-group mb-3">
                    <label>
                        <span class="btn border-secondary bg-light side-label" style="border-radius: 4px 0px 0px 4px;">
                            <i class="fas fa-child"></i>
                        </span>
                    </label>
                    <select class="form-select" name="gender" required>
                        {% block option %}
                        <option value="" hidden>Select the gender</option>
                        {% endblock option %}
                        <option disabled></option>
                        <option>M</option>
                        <option>F</option>
                    </select>
                </div>
    
                <div class="form-group">
                    <textarea class="form-control" name="note" rows="7" maxlength="1000" placeholder="Description is optional...">{% block note %}{% endblock note %}</textarea>
                </div>
    
                <div class="mt-4" style="width: 100%;">
                    <button type="submit" class="btn btn-secondary mb-3">
                        {% block btn-action %}<i class="fas fa-plus"></i>&nbsp;&nbsp; Add Employee{% endblock btn-action %}
                    </button>
                    <button type="reset" class="btn btn-outline-dark mb-3 ms-2" style="width: 50px;" title="Reset">
                        <i class="fas fa-sync-alt"></i>
                    </button>
                    <a href="{% url 'home' %}" type="button" class="btn btn-outline-dark mb-3 ms-2" style="width: 50px;" title="Close">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
            
            </div>
        </form>
        </div>
    </div>
    </div>