{%  extends 'ink/main.html' %}
{% block content %}

<br>
	<div class="row">
		<div class="col-md">
			<div class="card card-body">
				<h5>ОСТАТКИ</h5>
			</div>
        <br>
            <div class="row">
	<div class="col">
        <div class="card card-body">
            <form method="get">
                {{myFilter.form}}
                <button class="btn btn-secondary" type="submit">Поиск</button>
            </form>
        </div>
	</div>	
</div>
<br>
	<div class="card card-body">
		<table class="table">
			<tr>
                <th>Наименование</th>
                <th>Остаток</th>
                <th>Склад</th>
            </tr>
                {% for cartridge in page_obj %}
                    {% for storage in cartridge.storage.all %}
                    <tr>
                        <td>{{cartridge.model}}</td>
                        <td>{{cartridge.amount}}</td>
                        <td>{{storage}}</td>
                    </tr>
                {% endfor %}
                {% endfor %}
        </table>
    </div>
</div>
</div>
    <br>
    <nav aria-label="Page navigation devices">
        <ul class="pagination justify-content-center">
            <li class="page-item">
            {% if page_obj.has_previous %}
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
            {% endif %}
            </li>
            <li class="page-item active">
            <span class="current">
                <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
            </span>
            </li>
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
{% endblock content %}