{% extends 'ink/main.html' %}
{% load static %}
{% block title %} Удалить установку картриджа {% endblock %}
{% block content %}


<section id="devices_page">
    <div class="container">
        <div class="col-md-6" style="margin: auto;">
        <div class="card">
            <div class="card-header">
                <h3>Вы действительно хотите удалить установку картриджа?</h3>
            </div>
            <div class="card-body">
                <p>{{mount.cartridge}}, {{mount.quantity}} шт.<br>от {{mount.created_at}}?</p>
            <form action="{% url 'delete_mount' mount.id  %}" method="POST">
                {% csrf_token %}
                <div class="gap-2 d-xs-flex justify-content-xs-center">
                <a class="btn btn-warning " href="{% url 'device' mount.device.unit_id %}">Нет</a>

                <input class="btn btn-danger" type="submit" name="Confirm" value="Да">
            </div>
            </form>
        </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
