{%  extends 'ink/main.html' %}

{% block content %}

	<br>

<div class="row">
	<div class="col-md">
		<div class="dev-card card card-body">
			<h5>Устройство</h5>
            <hr>
            <p>Код УЕ: {{device.unit_id}}</p>
            <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'device_update' device.unit_id %}?next={{ request.path }}">Изменить устройство</a>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'create_mount' device.unit_id %}?next={{ request.path }}">Установить картридж</a>

		</div>
	</div>

	<div class="col-md">
		<div class="dev-card card card-body">
			<h5>Информация об устройстве</h5>
			<hr>
			<p>Тип: {{device.type}}</p>
            <p>Модель: {{device.model}}</p>
			<p>Расположение: {{device.location}}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="dev-card card card-body">
			<h5>Количество установок картриджей</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{mounts_count}}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">

			<form method="GET" class="form-inline">
                <div class=form-group>
                    <label style="margin-right: 20px">Заявка: </label>
				{{myFilter.form.query}}
                <label style="margin-left: 20px; margin-right: 10px;">Дата: </label>
                {{myFilter.form.date}}
                <button style="margin-left: 10px" class="btn btn-secondary btn-sm">
                    Поиск
                   </button>
                </div>
		  </form>

		</div>
	</div>
	
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Дата</th>
					<th>Наименование</th>
					<th>Кол-во</th>
					<th>Заявка</th>
                    <th>Изменить</th>
                    <th>Удалить</th>
				</tr>

				{% for mount in mounts %}

				<tr>
					<td>{{mount.date}}</td>
					<td>{{mount.cartridge}}</td>
					<td>{{mount.quantity}}</td>
					<td>{{mount.query}}</td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'update_mount' mount.id %}?next={{ request.path }}">Изменить</a></td>
					<td><a class="btn btn-sm btn-danger" href="{% url 'delete_mount' mount.id %}?next={{ request.path }}">Удалить</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}