{% extends 'ink/device_create.html' %}

<!-- Modal ID -->
{% block modal-id %} id="editDeviceModal{{ device.unit_id }}" {% endblock modal-id %}
<!-- Modal Title -->
{% block modal-title %} <i class="fas fa-edit"></i>&nbsp;&nbsp; Изменить устройство {% endblock modal-title %}
<!-- Form Action -->
{% block action %} action="/device_update" {% endblock action %}
<!-- Button Action -->
{% block btn-action %}<i class="fas fa-server"></i>&nbsp;&nbsp; Сохранить изменения {% endblock btn-action %}

<!-- ========== All <Inputs> ========== -->
<!-- ID -->
{% block Value-unit_id %}
input type="text" class="form-control" name="unit_id" value="{{ device.unit_id }}" readonly
{% endblock Value-unit_id %}
<!-- Name -->
{% block option %}
<option style="background-color: #d3d3d3; counter-reset: #111;">{{ device.type }}</option>
{% endblock option %}
<!-- Email -->
{% block Value-model %} value="{{ device.model }}" {% endblock Value-model %}
<!-- Occupation -->
{% block Value-location %} value="{{ device.location }}" {% endblock Value-location %}
