{% extends 'ink/main.html' %}
{% load static %}
{% block title %} Печатающие устройства {% endblock %}

<!-- Page content -->
{% block content %}

<link rel="stylesheet" href="{% static 'css/supply-delivery.css' %}">
<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
<link rel="stylesheet" href=https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css"">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>

<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <div>
                <label style="padding-top: 10px;"><h2>Печатающие устройства</h2></label>
            </div>
        </div>
    </nav>

<div class="container home-content">
        <!-- Datatable --> 
    <div class="container">
        <div class="kahon1">
            <table id="devices" class="table table-striped table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th data-priority="1" style="width: 7%">Код УЕ</th>
                        <th style="width: 18%">Тип</th>
                        <th data-priority="1" style="width: 20%">Модель</th>
                        <th style="width: 45%">Расположение</th>
                        <th style="width: 10%"></th>
                    </tr>
                </thead>
            <!-- Data from backend -->
                {% for device in devices %}
                    <tr>
                        <td>{{ device.unit_id }}</td>
                        <td>{{ device.type }}</td>
                        <td>{{ device.model }}</td>
                        <td>{{ device.location }}</td>
                        <td><a class="btn btn-sm btn-success" href="{% url 'device' device.unit_id %}">Подробнее</a></td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
</div>
<br>
<br>
</section>
        <script>
            $(document).ready(function() {
              var table = $('#devices').DataTable( {
                responsive: true,
                order: [[0, 'asc']],
                language: {
                    url: '{% static "localisation/ru.json" %}'
                },
                lengthMenu: [ [10, 20, 50, -1], [10, 20, 50, "Все"] ],
                pagingType: "simple",
                columnDefs: [{
                    targets: [4],
                    orderable: false
                }],
              });
            });
        </script>

<script type="text/javascript">

    // HAMBURGER BUTTON JS
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".sidebarBtn");
    sidebarBtn.onclick = function() {
      sidebar.classList.toggle("active");
      if(sidebar.classList.contains("active")){
      sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
    }else
      sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
    }
    </script>

{% for message in messages %}
{% if message.tags == 'info' %}
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script>
    var m = "{{ message }}";
    swal('Notice: ', m,'info')
  </script>
  {% elif message.tags == 'success' %}
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script>
    var m = "{{ message }}";
    swal("Transaction Complete! ", m, "success")
  </script>
{% endif %}
{% endfor %}

{% endblock %}