{% extends 'ink/base.html' %}

<!-- Navbar content -->
{% block navbar-content %}
<i style="color: yellowgreen;" class="fas fa-print"></i>&nbsp;&nbsp; Печатающие устройства
{% endblock navbar-content %}

<!-- Page content -->
{% block content %}
<div class="container">
    <br><br>

    <table class="table table-bordered" id="example" style="text-align: center; font-size: 14px;">
        <thead class="table-success">
            <tr>
                <th style="width: 7%;">ID</th>
                <th style="width: 20%;">Name</th>
                <th style="width: 15%;">Email</th>
                <th style="width: 15%;">Occupation</th>
                <th style="width: 10%;">Salary</th>
                <th style="width: 8%;">Gender</th>
                <th style="width: 15%;">Registered</th>
                <th style="width: 5%;">Edit</th>
                <th style="width: 5%;">Delete</th>
            </tr>
        </thead>
        <!-- Data from backend -->
        {% for employee in employees %}
        <tr>
            <td>{{ employee.id }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.occupation }}</td>
            <td>{{ employee.salary }}</td>
            <td>{{ employee.gender }}</td>
            <td>{{ employee.created_at | date:'m/d/Y (H:i)' }}</td>
            <td>
                <a class="btn btn-success text-center" title="Edit employee" data-bs-toggle="modal" data-bs-target="#editModal{{ employee.pk }}">
                    <i class="fas fa-pen"></i>
                </a>
            </td>
            <td>
                <a class="btn btn-secondary text-center" title="Delete employee" data-bs-toggle="modal" data-bs-target="#deleteModal{{ employee.pk }}">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>

        <!-- ===== Include ===== -->
        {% include 'ink/edit.html' %}

        <!-- Delete confirmation -->
        <div class="modal fade" id="deleteModal{{ employee.pk }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel"><i class="fas fa-trash-alt"></i>&nbsp;&nbsp; Delete Employee</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="text-center text-danger"><i class="far fa-times-circle fa-5x mb-4 mt-2"></i></div>
                    <div class="text-center text-danger">
                        <span>DO YOU WANT TO DELETE THIS EMPLOYEE ???</span>
                        <div class="text-dark mt-3 mb-2">Employee: <strong>{{ employee.name }}</strong></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
                    <a href="/delete_employee/{{ employee.id }}" class="btn btn-outline-danger btn-sm">Delete</a>
                </div>
            </div>
            </div>
        </div>

        {% endfor %}
    </table>

</div> <!-- END // container -->

{% for message in messages %}
    {% if message.tags == 'success' %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        var m = "{{ message }}";
        swal("perfect !", m, "success")
    </script>
    {% endif %}
{% endfor %}

{% endblock content %}