{%  extends 'ink/main.html' %}
{% load static %}
{% block title %} Редактирование установки картриджа {% endblock %}
{% block content %}

<section id="devices_page">
    <div class="container">
        <div class="col-md-12" style="margin: auto;">
            <div class="card mount_form">
                <div class="card-header">
                    <h3>Изменить установку картриджа</h3>
                </div>
                <div class="card-body">
                    <form id="form-container" method="POST">
                    {% csrf_token %}
                    {{ form.id }}
                    <div class="row g-3">
                        <div class="col-md-3">
                            <label for="id_mount_set-0-cartridge">Дата установки</label>
                        <input type="text" name="created_at" class="form-control" required="" id="id_created_at" readonly {{form.created_at}}
                    </div>
                        <div class="col-12">
                            <label for="id_mount_set-0-cartridge">Картридж</label>
                    {{form.cartridge}}
                        </div>


                        <div class="col-md-6">
                            <label for="input-group-text" for="id_mount_set-0-quantity">Количество</label>
                    <input type="number" name="quantity" class="form-control" required="" id="id_quantity" {{form.quantity}}
                        </div>
                        <div class="col-md-6">
                            <label for="id_mount_set-0-query">Заявка</label>
                            <input type="text" name="query" class="form-control" maxlength="50" required="" id="id_query" {{form.query}}
                        </div>
                        <div class="col-md-6">
                            <label for="id_mount_set-0-initiator">Инициатор</label>
                            <input type="text" name="initiator" class="form-control" maxlength="100" required="" id="id_initiator" {{form.initiator}}
                        </div>
                        <div class="col-md-6">
                            <label for="id_mount_set-0-counter">Счётчик</label>
                            <input type="number" name="counter" class="form-control" min="0" id="id_counter" {{ form.counter }}
                        </div>
                        <div class = "col-12">
                            <label for="id_mount_set-0-note">Примечание</label>
                            <input type="text" name="note" class="form-control" maxlength="200" rows="3" id="id_note" {{form.note}}
                        </div>
                    
                    </div>
            <div class="mt-4">
                <button type="submit" class="btn btn-secondary mb-3">Сохранить</button>
                <button type="reset" class="btn btn-outline-dark mb-3 ms-2" style="width: 50px;" title="Сброс">
                    <i class="fas fa-sync-alt"></i>
                </button>
                <a href="javascript:window.history.back()" type="button" class="btn btn-outline-dark mb-3 ms-2" style="width: 50px;" title="Отмена">
                    <i class="fas fa-times"></i>
                </a>
            </div>
        </form>
        </div>
    </div>
        </div>
    </div>
</section>

{% endblock %}